<template>
  <div class="container mx-auto px-4">
    <h1 class="text-xl text-white mt-4">Projects</h1>
    <div class="grid lg:grid-cols-4 grid-cols-2 lg:gap-8 gap-4 mt-8">
      <div class="relative bg-white" v-for="(item, i) in projects" :key="`project-${i}`">
        <a class="block border h-full" :href="`/projects/${item._slug}`">
          <CoverPageTemplater>
            <div
              class="h-full w-full bg-cover bg-center"
              v-lazy:background-image="
                item.cover_page && item.cover_page.url
              "
            ></div>
          </CoverPageTemplater>
          <div class="px-3 py-2 text-sm text-center text-gray-700">{{ item.title }}</div>
        </a>
        <div class="absolute call-out">
          <!-- Callout -->
          <CalloutMenuButton>
            <template #body>
              <button @click="deleteProject(item._slug)" class="b-btn">Delete</button>
            </template>
          </CalloutMenuButton>
        </div>
      </div>
      <button
        @click="isOpen = true"
        class="btn add-project bg-gray-900 hover:bg-gray-700 flex justify-center items-center"
      >
        <div>
          <div class="h-full flex items-center justify-center">
            <PlusButton />
          </div>
        </div>
      </button>
    </div>
    <!-- Create Modal -->
    <Modal v-if="isOpen" :closable="true" @dismiss="isOpen = false">
      <template #header></template>
      <template #body>
        <ValidationObserver v-slot="{ handleSubmit }" slim>
          <form @submit.prevent.stop="handleSubmit(create)">
            <ValidationProvider v-slot="{ errors }" slim rules="required">
              <div class="field">
                <label for="title">Title</label>
                <input
                  v-model="form.title"
                  id="title"
                  type="text"
                  placeholder="Title"
                  maxlength="30"
                  :class="{ 'border-red-500': errors.length }"
                />
                <small v-show="errors.length">Please specify</small>
              </div>
            </ValidationProvider>
            <div class="flex items-center justify-between mt-4">
              <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                :disabled="isCreating"
                :class="{ 'cursor-not-allowed': isCreating }"
                type="submit"
              >
                <span>{{ isCreating ? 'Creating...' : 'Create' }}</span>
              </button>
            </div>
          </form>
        </ValidationObserver>
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  layout: 'projects',
  data: () => ({
    projects: [],
    isOpen: false,
    isCreating: false,
    form: {
      title: '',
    },
  }),
  async mounted() {
    const res = await this.$store.dispatch('project/list', {
      per_page: 300,
    })
    this.projects = res.posts
  },
  methods: {
    async deleteProject(slug) {
      const res = await this.$store.dispatch('project/delete', { slug })
      return (window.location.href = `/projects`)
    },
    async create() {
      this.isCreating = true
      const res = await this.$store.dispatch('project/create', {
        title: this.form.title,
      })
      return (window.location.href = `/projects/${res}`)
    },
  },
}
</script>

<style lang="scss" scoped>
.call-out {
  top: 0.5rem;
  right: 0.5rem;
}

.add-project {
  min-height: 180px;
}
</style>
