<template>
  <div
    id="about-wrapper"
    ref="page"
    class="about-wrapper flex flex-col justify-between"
    :class="{ '-detail': !_isOverviewView, '-printed': _isPrinted }"
  >
    <div v-if="_isOverviewView">
      <div class="about-skel w-6/12 bg-white rounded-sm"></div>
      <div class="about-skel w-11/12 bg-gray-200 rounded-sm"></div>
      <div class="about-skel w-12/12 bg-gray-200 rounded-sm"></div>
      <div class="about-skel w-10/12 bg-gray-200 rounded-sm"></div>
      <div class="about-skel w-7/12 bg-gray-200 rounded-sm"></div>
      <div class="about-skel w-4/12 bg-gray-200 rounded-sm"></div>
      <div class="about-skel w-5/12 bg-gray-200 rounded-sm"></div>
    </div>
    <div v-else>
      <div class="about-title">
        <h3 class="font-semibold text-gray-800 about-p-ref">
          <span>About</span>
        </h3>
      </div>
      <div class="about-p-ref">
        <span
          class="editable-area -block bio-editable"
          id="about_text"
          v-html="_aboutPage.about_text"
        ></span>
      </div>
      <div class="skill-title">
        <h3 class="font-semibold text-gray-800 about-p-ref">
          <span>Skill</span>
        </h3>
      </div>
      <div class="about-p-ref">
        <span
          class="editable-area -block bio-editable"
          id="skill_text"
          v-html="_aboutPage.skill_text"
        ></span>
      </div>
    </div>
    <!--  -->
    <div v-if="!_isOverviewView">
      <div>
        <h3 class="font-medium about-social-text-ref">
          <span>Email</span>
        </h3>
        <div class="about-social-text-ref">
          <span
            id="social_email"
            class="bio-editable editable-area text-red-500"
            v-html="_aboutPage.social_email"
          ></span>
        </div>
      </div>
      <div>
        <h3 class="font-medium about-social-text-ref">
          <span>Twitter</span>
        </h3>
        <div class="about-social-text-ref">
          <span
            id="social_twitter"
            class="bio-editable editable-area text-red-500"
            v-html="_aboutPage.social_twitter"
          ></span>
        </div>
      </div>
      <div>
        <h3 class="font-medium about-social-text-ref">
          <span>Portfolio</span>
        </h3>
        <div class="about-social-text-ref">
          <span
            id="social_website"
            class="bio-editable editable-area text-red-500"
            v-html="_aboutPage.social_website"
          ></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _clone from 'lodash.clone'
export default {
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.adjustView()
      })
      const bio = new MediumEditor('.bio-editable', {
        toolbar: false,
        spellcheck: false,
        disableDoubleReturn: true,
        autoLink: true,
        placeholder: {
          text: 'Type your text',
          hideOnClick: false
        },
        paste: {
          forcePlainText: true,
          cleanPastedHTML: true
        }
      })
      bio.subscribe('blur', (d) => {
        const text = d.relatedTarget.innerHTML
        const id = d.relatedTarget.id
        let data = {}
        data[id] = text
        this.$store.commit('project/SET_ABOUT', data)
      })
    })
  },
  computed: {
    _isOverviewView() {
      return this.$route.query.view === 'overview'
    },
    _isDetailView() {
      return this.$route.query.view === 'detail'
    },
    _isPrinted() {
      return this.$route.name === 'projects-id-export'
    },
    _aboutPage() {
      return _clone(this.$store.state.project.aboutPage) || {}
    },
  },
  watch: {
    // Calc. dropzone A4 size based on width
    '$store.state.project': {
      immediate: true,
      deep: true,
      handler() {
        if (!process.client) return
        this.$nextTick(() => {
          this.adjustView()
        })
      },
    },
  },
  methods: {
    adjustView() {
      const colSizer = document.getElementById('col-sizer')
      if (this._isOverviewView) {
        const page = this.$refs.page
        page.style.width = `${colSizer.offsetWidth}px`
        page.style.height = `${colSizer.offsetWidth / 1.414}px`
        page.style.padding = `${colSizer.offsetWidth/26}px`
        const skels = document.querySelectorAll('.about-skel')
        skels.forEach(s => {
          s.style.height = `${colSizer.offsetWidth / 30}px`
          s.style.marginBottom = `${colSizer.offsetWidth / 30}px`
        })
      }
      const isPrinted = this.$route.name === 'projects-id-export'
      const pageH =
        document.getElementById('about-wrapper').offsetHeight *
        (isPrinted ? 1.3 : 1)
      const socialTextRef = document.querySelectorAll('.about-social-text-ref')
      const pTextRef = document.querySelectorAll('.about-p-ref')
      // console.log(socialTextRef)
      socialTextRef.forEach((el, i) => {
        el.style.height = `${pageH * 0.025}px`
        el.style.marginTop = `${pageH * (i % 2 === 0 ? 0.025 : 0.01)}px`
        let t = new FitText(el.childNodes[0])
        t.fit()
      })
      pTextRef.forEach((el, i) => {
        // el.style.height = `${pageH * 0.045}px`
        if (i === 0) {
          el.style.height = `${pageH * 0.04}px`
          let t = new FitText(el.childNodes[0])
          t.fit()
        } else if (i === 1) {
          el.style.height = `${pageH * 0.035}px`
          let t = new FitText(el.childNodes[0])
          t.fit()
          el.style.height = 'auto'
          // el.style.minHeight = `${pageH * 0.04}px`
        } else if (i === 2) {
          el.style.height = `${pageH * 0.04}px`
          el.style.marginTop = `${pageH * 0.04}px`
          let t = new FitText(el.childNodes[0])
          t.fit()
        } else if (i === 3) {
          el.style.height = `${pageH * 0.035}px`
          let t = new FitText(el.childNodes[0])
          t.fit()
          el.style.height = 'auto'
          el.style.marginBottom = `${pageH * 0.04}px`
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
$w: 24vh;
$h: $w/0.707;
$wD: 64vh;
$hD: $wD/0.707;
$wP: 100vh;
$hP: $wP/0.707;

.about-wrapper {
  // width: $h;
  // height: $w;
  // padding: $w/26;
  background-color: white;
  font-family: 'Inter', sans-serif;
  &.-detail {
    width: $hD;
    height: $wD;
    padding: $hD/26;
  }
  &.-printed {
    width: $hP;
    height: $wP;
    padding: $hP/26;
  }
}
.about-title,
.skill-title {
  display: inline-block;
  // padding-bottom: 4px;
}
</style>
