<template>
  <client-only>
    <button
      @click="auth"
      class="bg-pink-500 hover:bg-pink-600 py-1 px-3 text-xs rounded flex items-center"
      :class="{ 'opacity-50 cursor-not-allowed': _hasDrbToken }"
    >
      <span class="mr-2 text-white">
        <span v-if="!_hasDrbToken">Connect with</span>
        <span v-else>Connected to</span>
      </span>
      <img src="/images/dribbble.svg" class="h-3" alt="Drb" />
    </button>
  </client-only>
</template>

<script>
export default {
  mounted() {
    // Save page url to cookie
    this.$nextTick(() => {
      this.$cookies.set('buuk-page-bf-auth', window.location.href)
    })
  },
  methods: {
    auth() {
      if (this._hasDrbToken) return
      return (window.location.href = `https://dribbble.com/oauth/authorize?client_id=${process.env.NODE_ENV === 'development'? process.env.TEST_DRB_ID: process.env.PROD_DRB_ID}&redirect_uri=${this._redirectURL}`)
    },
  },
  computed: {
    _hasDrbToken() {
      if (process.client) return !!this.$cookies.get('buuk-drb-token')
    },
    _redirectURL() {
      if (process.client) return window.location.origin + '/callback/dribbble'
    },
  },
}
</script>

<style lang="scss" scoped>
.auth-drb-wrapper {
  width: 96px;
  height: 96px;
  margin-right: 1rem;
  @apply bg-gray-200;
}
</style>
