<template>
  <div>
    <div v-if="!submitted" class="max-w-lg mx-auto">
      <h1 class="text-2xl font-bold text-gray-700 text-center mb-4">Sign up for beta</h1>
      <client-only>
        <ValidationObserver v-slot="{ handleSubmit }" slim>
          <form class="max-w-xs mx-auto" @submit.prevent.stop="handleSubmit(submit)">
            <ValidationProvider v-slot="{ errors }" slim rules="required|email">
              <div class="field">
                <label for="email">Enter your email:</label>
                <input
                  v-model="email"
                  id="email"
                  type="email"
                  placeholder="Email"
                  :class="{ 'border-red-500': errors.length }"
                />
                <small v-show="errors.length">Please specify</small>
              </div>
            </ValidationProvider>
            <div class="mt-4">
              <button
                class="bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
                type="submit"
                :class="{ 'cursor-not-allowed bg-red-300': isLoading }"
              >
                <span v-if="!isLoading">Send</span>
                <span v-else>Sending...</span>
              </button>
            </div>
          </form>
        </ValidationObserver>
      </client-only>
    </div>
    <div class="text-gray-700 text-center mx-auto px-12" v-else>
      <span class="font-bold">All done!</span>
      <br />
      <br />Thanks for signing up.
      <br />As soon as we are ready to share
      we will send you an email.
    </div>
  </div>
</template>

<script>
export default {
  layout: 'blank',
  data: () => ({
    email: '',
    name: '',
    submitted: false,
    isLoading: false,
  }),
  methods: {
    async submit() {
      this.isLoading = true
      const res = await this.$store.dispatch('wp/submitForm', {
        email: this.email,
        name: this.name,
      })
      this.isLoading = false
      this.submitted = true
    },
  },
}
</script>

<style lang="scss" scoped>
.logo {
  width: 100px;
  filter: brightness(200%);
}

.signup {
  margin: 150px auto;
}

.signup-para {
  margin-bottom: 70px;
  max-width: 800px;
}

.signup-para p {
  font-weight: 200;
}

.input-signup {
  background-color: #2d3748;
  font-size: 20px;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #96a4ae;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0 1000px #2d3748 inset !important;
}

button:hover {
  background: #e46864;
}
</style>
