<template>
  <div class="relative z-10 bottom-bar-wrapper">
    <div class="px-2 py-2 bg-gray-800">
      <ControlBar />
    </div>
    <ImageLibrary :images="images" />
  </div>
</template>

<script>
export default {
  props: {
    images: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

<style lang="scss" scoped>
.bottom-bar-wrapper {
  // height: 172px;
}
</style>
