<template>
  <div class="flex flex-col items-end relative">
    <div @click="isOpen = !isOpen">
      <slot name="trigger">
        <button class="bg-gray-300 hover:bg-gray-300 rounded-sm w-6 h-6">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
            />
          </svg>
        </button>
      </slot>
    </div>
    <div
      v-show="isOpen"
      class="rounded-sm callout cursor-pointer shadow bg-white overflow-hidden absolute right-0"
    >
      <slot name="body" />
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    isOpen: false,
  }),
}
</script>

<style lang="scss" scoped>
.callout {
  top: calc(100% + 0.5rem);
  z-index: 1;
  min-width: 80px;
}
</style>
