<template>
  <div class="flex justify-center">
    <!--  -->
    <div class="inline-flex">
      <div class="inline-flex mr-2">
        <button
          @click="$changeView('overview')"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 b-btn rounded-l-sm"
          :class="{ 'bg-gray-400': $route.query.view === 'overview' }"
        >Overview</button>
        <button
          @click="$changeView('detail')"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 b-btn rounded-r-sm"
          :class="{ 'bg-gray-400': $route.query.view === 'detail' }"
        >Detail</button>
      </div>
      <button
        @click="
          $store.commit('SET_IMAGE_LIB_SHOWING', !$store.state.isImgLibShowing)
        "
        class="bg-gray-300 hover:bg-gray-400 px-2 flex justify-center items-center rounded-sm"
      >
        <img
          width="12"
          class="origin-center transform transition-all duration-150"
          :class="{ 'rotate-180': !$store.state.isImgLibShowing }"
          :src="_chevronDown"
          alt="chevron"
        />
      </button>
    </div>
  </div>
</template>

<script>
import chevronDown from '@/node_modules/@fortawesome/fontawesome-free/svgs/solid/chevron-down.svg'
export default {
  computed: {
    _chevronDown() {
      return chevronDown
    },
  },
}
</script>
