<template>
  <div class="title-wrapper">
    <div class="mt-1" v-if="_isOverviewView">
      <div class="h-3 w-7/12 bg-gray-200 rounded-sm mb-2 mx-auto"></div>
      <div class="h-3 w-9/12 bg-gray-200 rounded-sm mx-auto"></div>
    </div>
    <div v-else class="flex items-center justify-center h-full">
      <div>
        <div
          class="editable-title text-3xl cursor-text medium-editor-element inline-block font-semibold"
          v-html="coverName"
        ></div>
        <br />
        <div
          class="editable-desc text-lg cursor-text medium-editor-element inline-block"
          v-html="title"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    coverName: '',
    title: '',
  }),
  props: {
    _coverName: {
      type: String,
      default: null,
    },
    _title: {
      type: String,
      default: null,
    },
  },
  mounted() {
    if (this._coverName) {
      this.coverName = this._coverName
    } else {
      this.coverName =
        this.$store.state.drb.user && this.$store.state.drb.user.name
          ? this.$store.state.drb.user.name
          : 'Your Name'
    }
    this.title = this._title || 'Your Title'
    this.$nextTick(() => {
      const title = new MediumEditor('.editable-title', { toolbar: false, spellcheck: false,         placeholder: {
          text: 'Type your text',
          hideOnClick: false
        }, })
      const desc = new MediumEditor('.editable-desc', { toolbar: false, spellcheck: false,         placeholder: {
          text: 'Type your text',
          hideOnClick: false
        }, })
      title.subscribe('blur', (d) => {
        this.coverName = d.relatedTarget.innerText
      })
      desc.subscribe('blur', (d) => {
        this.title = d.relatedTarget.innerText
      })
    })
  },
  computed: {
    _isOverviewView() {
      return this.$route.query.view === 'overview'
    },
  },
}
</script>

<style lang="scss" scoped>
.title-wrapper {
  font-family: 'Inter', sans-serif;
  line-height: 2.2rem;
  @apply py-2 px-2 text-center;
}
</style>
