<template>
  <div
    id="cover-page-wrapper"
    ref="page"
    class="page-wrapper relative"
    :class="{
      '-detail': !_isProjectsPage && _isDetailView && !_isPrinted,
      '-projects-page': _isProjectsPage,
      '-printed': _isPrinted,
    }"
  >
    <div id="cover-height-ref" class="page__inner overflow-hidden">
      <slot>
        <ImageDropzone
          isCoverPage
          :image="$store.state.project.coverPage"
          @inputImage="onInputImage($event)"
          @remove="onRemove($event)"
        />
      </slot>
    </div>
    <div v-show="!_isProjectsPage" class="absolute bottom-0 left-0 title-container">
      <div class="bg-white title-container-padding">
        <div ref="title" class="title__inner">
          <span
            id="title"
            :class="{
              'bg-gray-400 text-gray-400': !_isDetailView && !_isPrinted,
            }"
            class="font-medium editable-area cover-editable"
            ref="titleToFit"
            v-html="_coverPage.title"
          ></span>
        </div>
        <div ref="subtitle" class="subtitle__inner text-gray-600">
          <span
            id="subtitle"
            class="editable-area cover-editable"
            :class="{
              'bg-gray-400 text-gray-400': !_isDetailView && !_isPrinted,
            }"
            ref="subtitleToFit"
            v-html="_coverPage.subtitle || 'Subtitle'"
          ></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _clone from 'lodash.clone'
export default {
  computed: {
    _isProjectsPage() {
      return this.$route.name === 'projects'
    },
    _isOverviewView() {
      return this.$route.query.view === 'overview'
    },
    _isDetailView() {
      return this.$route.query.view === 'detail'
    },
    _isPrinted() {
      return this.$route.name === 'projects-id-export'
    },
    _coverPage() {
      return _clone(this.$store.state.project.coverPage) || {}
    },
  },
  watch: {
    // Calc. dropzone A4 size based on width
    '$store.state.project': {
      immediate: true,
      deep: true,
      handler() {
        if (!process.client) return
        this.$nextTick(() => {
          this.adjustView()
        })
      },
    },
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.adjustView()
      })
      //
      const coverEditable = new MediumEditor('.cover-editable', {
        toolbar: false,
        placeholder: {
          text: 'Type your text',
          hideOnClick: false
        },
      })
      coverEditable.subscribe('blur', (d) => {
        const text = d.relatedTarget.innerText
        const id = d.relatedTarget.id
        // title, subtitle
        let data = {}
        data[id] = text
        this.$store.commit('project/SET_COVER', data)
      })
    })
  },
  methods: {
    adjustView() {
      const colSizer = document.getElementById('col-sizer')
      const page = this.$refs.page
      if (this._isProjectsPage) {
        page.style.height = `${page.offsetWidth / 1.414}px`
        return
      }
      if (this._isOverviewView) {
        page.style.width = `${colSizer.offsetWidth}px`
        page.style.height = `${colSizer.offsetWidth / 1.414}px`
      }
      const pageH = page.offsetHeight
      this.$refs.title.style.height = `${pageH * 0.045}px`
      this.$refs.subtitle.style.height = `${pageH * 0.035}px`
      this.$refs.subtitle.style.marginTop = `${pageH * 0.015}px`
      let t = new FitText(this.$refs.titleToFit)
      t.fit()
      let st = new FitText(this.$refs.subtitleToFit)
      st.fit()
    },
    onInputImage({ imageURL }, i) {
      this.$store.commit('project/SET_COVER', {
        url: imageURL,
      })
    },
    onRemove() {
      this.$store.commit('project/SET_COVER', {
        url: '',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
$w: 24vh;
$h: $w/0.707;
$wD: 64vh;
$hD: $wD/0.707;
$wP: 100.75vh;
$hP: $wP/0.707;

.page-wrapper {
  &.-projects-page {
    width: 100% !important;
    min-height: 100px;
  }
  // width: $h;
  // height: $w;
  background-color: white;
  font-family: 'Inter', sans-serif;
  &.-detail {
    width: $hD;
    height: $wD;
    .title-container {
      padding: $hD/26;
      .title-container-padding {
        padding: $hD/70;
      }
    }
  }
  &.-printed {
    width: $hP;
    height: $wP;
    .title-container {
      padding: $hP/26;
      .title-container-padding {
        padding: $hP/70;
      }
    }
  }
  .page__inner {
    @apply w-full h-full bg-gray-300;
  }
}

.title-container {
  padding: $w/26;
  div {
    line-height: 1;
  }
  .title-container-padding {
    padding: $w/70;
  }
}
</style>
