<template>
  <div class="detail-view-wrapper custom-scrollbar px-8">
    <div class="flex">
      <div id="page--2" class="flex-1 mx-4 my-2">
        <CoverPageTemplater />
      </div>
      <div id="page--1" class="flex-1 mx-4 my-2">
        <!--  -->
        <AboutPageTemplater />
      </div>
      <div
        class="flex-1 mx-4 my-2"
        :class="{ 'pr-8': i === _regularPages.length - 1 }"
        v-for="(page, i) in _regularPages"
        :key="`page-${i}`"
        :id="`page-${i + 3}`"
      >
        <PageTemplater :index="i" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    maxPages: 8,
  }),
  computed: {
    _regularPages() {
      return this.$store.state.project.regularPages
    },
  },
  watch: {
    '$route.query.pageIndex': {
      immediate: true,
      handler(pageIndex) {
        if (!process.client || !pageIndex) return
        // console.log(pageIndex)
        this.$nextTick(() => {
          // console.log('scroll!')
          this.$scrollTo(`#page-${pageIndex}`, 10, {
            container: '#panner',
            offset: -25,
            force: true,
            x: true,
            y: false,
          })
        })
      },
    },
  },
}
</script>

<style lang="scss" scoped>
.detail-view-wrapper {
  @apply overflow-x-scroll;
  max-width: 100vw;
}

.custom-scrollbar {
  &::-webkit-scrollbar-track {
    background-color: theme('colors.gray.800');
  }
  &::-webkit-scrollbar-thumb {
    border-left: 52px solid theme('colors.gray.800');
    border-right: 52px solid theme('colors.gray.800');
  }
}
</style>
