<template>
  <div>
    <button @click="exportFile" class="b-btn bg-buuk-orange text-white rounded-sm">Export</button>
    <!-- <CalloutMenuButton class="mr-2">
      <template #trigger>
        <button
          class="bg-teal-300 hover:bg-teal-400 text-teal-800 py-1 px-3 text-sm rounded"
        >Export BUUK</button>
      </template>
      <template #body>
        <div>
          <a @click="exportFile" class="callout-option">Save as PDF</a>
        </div>
      </template>
    </CalloutMenuButton>-->
    <!-- Modal -->
    <Modal v-if="showModal" :closable="isClosable" @dismiss="showModal = false">
      <template #header>
        <!-- <h3 class="text-gray-800">buuk</h3> -->
      </template>
      <template #body>
        <div>
          <div v-if="isClosable">
            <h3 class="text-xl">Your Buuk is now ready.</h3>
            <h4 class="text-gray-500">
              or manually download it
              <span id="download-area"></span>
            </h4>
          </div>
          <div v-else class="flex items-center">
            <img width="20" src="/images/loading-exporting.svg" alt="loading" />
            <h3 class="text-xl text-gray-500 ml-2">Exporting PDF file...</h3>
          </div>
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  data: () => ({
    showModal: false,
    isClosable: false,
    downloadLink: ''
  }),
  methods: {
    async exportFile() {
      this.showModal = true
      const res = await this.$store.dispatch('export', {
        baseURL: window.location.origin,
        slug: this.$route.params.id
      })
      const url = window.URL.createObjectURL(new Blob([res.data], {type: 'application/pdf'}))
      const link = document.createElement('a')
      link.href = url
      link.innerHTML = 'here'
      link.classList.add('border-b', 'border-buuk-orange', 'text-buuk-orange')
      link.setAttribute('download', `buuk-${this.$store.state.project.title}.pdf`) //or any other extension
      this.isClosable = true
      setTimeout(() => {
        document.getElementById('download-area').appendChild(link)
        link.click()
      }, 500)
      // this.showModal = false
    },
  },
}
</script>
