<template>
  <div
    :data-title="title"
    class="image-item-wrapper rounded-sm drag-drop inline-block transition-opacity duration-150 relative"
    v-lazy:background-image="image"
  >
    <div
      class="absolute w-5 h-5 flex justify-center items-center bg-white bottom-0 right-0"
      v-if="isDrb"
    >
      <img
        width="12"
        src="@/node_modules/@fortawesome/fontawesome-free/svgs/brands/dribbble.svg"
        alt="drb"
      />
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    dragEndListener(event) {
      const target = event.target
      target.style.webkitTransform = target.style.transform =
        'translate(' + 0 + 'px, ' + 0 + 'px)'
      target.style.transition = '0.15s'
      target.style.position = 'relative'
      target.setAttribute('data-x', 0)
      target.setAttribute('data-y', 0)
      target.style.cursor = 'grab'
    },
    dragMoveListener(event) {
      const target = event.target
      // keep the dragged position in the data-x/data-y attributes
      const x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
      const y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

      // translate the element
      target.style.webkitTransform = target.style.transform =
        'translate(' + x + 'px, ' + y + 'px) rotate(10deg)'
      target.style.transition = '0s'
      target.style.position = 'absolute'
      target.style.zIndex = '50'
      target.style.cursor = 'grabbing'

      // update the posiion attributes
      target.setAttribute('data-x', x)
      target.setAttribute('data-y', y)
    },
  },
  watch: {
    image: {
      immediate: true,
      handler() {
        if (!process.client) return
        this.$nextTick(() => {
          interact('.drag-drop').draggable({
            inertia: true,
            listeners: {
              move: this.dragMoveListener,
              end: this.dragEndListener,
            },
            cursorChecker: (action, interactable, element, interacting) => {
              switch (action.axis) {
                case 'x':
                  return 'ew-resize'
                case 'y':
                  return 'ns-resize'
                default:
                  return interacting ? 'grabbing' : 'grab'
              }
            },
          })
        })
      },
    },
  },
  props: {
    image: {
      type: String,
      default: null,
    },
    title: {
      type: String,
      default: null,
    },
    isDrb: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss" scoped>
.image-item-wrapper {
  width: 96px;
  height: 96px;
  user-select: none;
  touch-action: none;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  @apply bg-black;
  &.can-drop {
    opacity: 1;
  }
}
</style>
