<template>
  <div
    :id="id"
    class="dropzone transition-colors duration-150 flex items-center h-full"
    :class="{ '-covered': isCoverPage || image.size === 'cover' }"
    ref="dropzoneHeight"
  >
    <div
      class="w-full relative"
      :class="{
        'flex flex-col justify-between': !isCoverPage,
        'h-full': isCoverPage,
      }"
      ref="dropzone"
    >
      <div class="relative image-container" :class="{ 'h-full': isCoverPage }">
        <img ref="image" v-if="image.url" class="image w-full h-full" :src="image.url" alt="img" />
        <div v-else ref="imageSkel" class="bg-gray-300 w-full h-full image-skel"></div>
        <ImageControl
          @remove="$emit('remove')"
          @imageSize="$emit('imageSize')"
          :hasSizeOption="!isCoverPage"
          :imageSize="image.size"
          v-if="image.url"
          class="image-control"
        />
      </div>
      <!--  -->
      <div v-if="!isCoverPage" ref="textarea" class="cursor-pointer textarea-wrapper">
        <div class="font-semibold text-gray-800" ref="title">
          <span
            class="title inline-block editable-area"
            :class="{ 'bg-gray-400 text-gray-400': _isOverviewView }"
            v-if="image.url"
            ref="titleToFit"
            v-html="image.title"
          ></span>
          <div v-else class="h-full w-2/12 bg-gray-200"></div>
        </div>
        <div class="mt-1 font-medium text-gray-500" ref="subtitle">
          <span
            class="subtitle inline-block editable-area"
            :class="{ 'bg-gray-400 text-gray-400': _isOverviewView }"
            v-if="image.url"
            ref="subtitleToFit"
            v-html="image.subtitle"
          ></span>
          <div v-else class="h-full w-5/12 bg-gray-200"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    hasMetadataBox: {
      type: Boolean,
      default: true,
    },
    image: {
      type: Object,
      default: () => ({}),
    },
    pageIndex: {
      type: Number,
      default: 0,
    },
    imageIndex: {
      type: Number,
      default: 0,
    },
    isCoverPage: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    dropActive: false,
    dropEnter: false,
    isContained: false,
    id: null,
    title: 'Title of image pulled from Dribbble',
    subtitle: 'Click to add detail',
    shoudVisible: false,
  }),
  watch: {
    // Calc. dropzone A4 size based on width
    '$store.state.project': {
      immediate: true,
      deep: true,
      handler() {
        if (!process.client) return
        this.$nextTick(() => {
          if (!this.$refs.dropzone) return
          this.adjustView()
        })
      },
    },
  },
  computed: {
    _isOverviewView() {
      return this.$route.query.view === 'overview'
    },
  },
  methods: {
    adjustView() {
      const isPrinted = this.$route.name === 'projects-id-export'
      // console.log('adjust!')
      const w = this.$refs.dropzone.offsetWidth
      const pageH =
        document.getElementById('grid-container').offsetHeight *
        (isPrinted ? 1.3 : 1)
      const isTwoUp =
        this.$store.state.project.regularPages[this.pageIndex].selected_layout >
        0
      // console.log('update!')
      // console.log(this.pageIndex, isTwoUp)
      const r = w * 0.685
      // this.$refs.dropzone.style.minHeight = `${
      //   isTwoUp ? w / 1.33 + 'px' : r + 'px'
      // }`
      if (this.isCoverPage) return
      if (this.image.url) {
        this.$refs.image.style.height = `${
          isTwoUp
            ? w / (isPrinted ? 1.025 : 1.33) + 'px'
            : r * (isPrinted ? 1.19 : 0.9) + 'px'
        }`
      } else {
        this.$refs.imageSkel.style.height = `${
          isTwoUp
            ? w / (isPrinted ? 1.025 : 1.33) + 'px'
            : r * (isPrinted ? 1.19 : 0.9) + 'px'
        }`
      }
      this.$refs.title.style.height = `${pageH * 0.03}px`
      this.$refs.textarea.style.marginTop = `${pageH * 0.03}px`
      this.$refs.subtitle.style.height = `${pageH * 0.025}px`
      this.$refs.subtitle.style.marginTop = `${pageH * 0.01}px`
      if (this.image.url) {
        let t = new FitText(this.$refs.titleToFit)
        t.fit()
        let st = new FitText(this.$refs.subtitleToFit)
        st.fit()
        //
        const titleEditor = new MediumEditor(this.$refs.title, {
          toolbar: false,
        placeholder: {
          text: 'Type your text',
          hideOnClick: false
        },
        })
        titleEditor.subscribe('blur', (d) => {
          const text = d.relatedTarget.innerText
          this.$store.commit('project/SET_TEXT', {
            pageIndex: this.pageIndex,
            imageIndex: this.imageIndex,
            text,
          })
        })
        //
        const subtitleEditor = new MediumEditor(this.$refs.subtitle, {
          toolbar: false,
                  placeholder: {
          text: 'Type your text',
          hideOnClick: false
        },
        })
        subtitleEditor.subscribe('blur', (d) => {
          const text = d.relatedTarget.innerText
          this.$store.commit('project/SET_TEXT', {
            pageIndex: this.pageIndex,
            imageIndex: this.imageIndex,
            subtitle: true,
            text,
          })
        })
      }
    },
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        if (!this.$refs.dropzone) return
        this.adjustView()
      })
    })
    let that = this
    this.id = `dz-${~~(Math.random() * 9999)}`
    interact(`#${this.id}`).dropzone({
      accept: '.drag-drop',
      // overlap: 0.75,
      ondropactivate: function (event) {},
      ondropdeactivate: function (event) {},
      ondragenter: function (event) {
        const draggableElement = event.relatedTarget
        const dropzoneElement = event.target
        // draggableElement.classList.add('can-drop')
        // dropzoneElement.classList.add('drop-target')
      },
      ondragleave: function (event) {
        const draggableElement = event.relatedTarget
        const dropzoneElement = event.target
        // draggableElement.classList.remove('can-drop')
        // dropzoneElement.classList.remove('drop-target')
      },
      ondrop: function (event) {
        // event.relatedTarget.textContent = 'Dropped'
        const dropzoneElement = event.target
        const imageURL = event.relatedTarget.getAttribute('data-src')
        const title = event.relatedTarget.getAttribute('data-title')
        that.$emit('inputImage', {
          imageURL,
          title,
        })
        // dropzoneElement.style.backgroundImage = `url(${imageURL})`
      },
    })
  },
}
</script>

<style lang="scss" scoped>
.dropzone {
  position: relative;
  .image-container {
    &:hover {
      .image-control {
        opacity: 1;
      }
    }
  }
  .image-control {
    transition: 0.15s;
    opacity: 0;
  }
  .image {
    object-fit: contain;
  }
  &.-covered .image {
    object-fit: cover !important;
    // background-size: contain;
  }
}

.drop-target {
  @apply bg-teal-500;
}

.textarea-wrapper {
  div {
    line-height: 1;
  }
}
</style>
