<template>
  <div
    class="w-full h-full image-control-wrapper absolute top-0 right-0 p-2 flex justify-end items-start"
    :class="{'p-4': _isDetailView}"
  >
    <!--  -->
    <div :class="{ '-full': _isDetailView }" class="inline-block">
      <!--  -->
      <button v-if="hasSizeOption" @click="$emit('imageSize')">
        <svg
          v-if="imageSize === 'contain'"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1 4L1 1L4 1L4 0L1 -2.62268e-07L3.49691e-07 -3.49691e-07L2.62268e-07 1L0 4L1 4Z"
            fill="#2C323D"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M15 12V15H12V16H15H16V15V12H15Z"
            fill="#2C323D"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M4 15L1 15L1 12L0 12L3.57746e-08 15L4.76995e-08 16L1 16L4 16L4 15Z"
            fill="#2C323D"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 1L15 1L15 4L16 4L16 1L16 -1.74846e-07L15 -1.31134e-07L12 0L12 1Z"
            fill="#2C323D"
          />
        </svg>
        <svg
          v-else
          width="14"
          height="14"
          viewBox="0 0 14 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1 0H0V1H0.5V1.5H1V2H1.5V2.5H2V3H2.5V3.5H3V4H1V5H4H5V4V1H4V3H3.5V2.5H3V2H2.5V1.5H2V1H1.5V0.5H1V0Z"
            fill="#2C323D"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13 14H14V13H13.5V12.5H13V12H12.5V11.5H12V11H11.5V10.5H11V10H13V9H10H9V10V13H10V11H10.5V11.5H11V12H11.5V12.5H12V13H12.5V13.5H13V14Z"
            fill="#2C323D"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0 13L0 14H1V13.5H1.5V13H2V12.5H2.5V12H3V11.5H3.5V11H4V13H5V10V9H4H1V10H3L3 10.5H2.5V11H2V11.5H1.5V12H1L1 12.5H0.5V13H0Z"
            fill="#2C323D"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M14 1L14 0L13 -4.37114e-08L13 0.5L12.5 0.5L12.5 1L12 1L12 1.5L11.5 1.5L11.5 2L11 2L11 2.5L10.5 2.5L10.5 3L10 3L10 1L9 1L9 4L9 5L10 5L13 5L13 4L11 4L11 3.5L11.5 3.5L11.5 3L12 3L12 2.5L12.5 2.5L12.5 2L13 2L13 1.5L13.5 1.5L13.5 1L14 1Z"
            fill="#2C323D"
          />
        </svg>

        <span v-if="_isDetailView" class="ml-2">Image {{ imageSize === 'cover' ? 'fill' : 'fit' }}</span>
      </button>
      <!--  -->
      <button @click="$emit('remove')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
        <span v-if="_isDetailView" class="ml-2">Remove</span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    imageSize: {
      type: String,
      default: 'contain',
    },
    hasSizeOption: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    _isDetailView() {
      return this.$route.query.view === 'detail'
    },
  },
}
</script>

<style lang="scss" scoped>
.image-control-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  div {
    &.-full {
      button {
        widows: auto;
        height: auto;
        @apply p-2 text-xs flex items-center w-full;
      }
    }
    button {
      widows: 24px;
      height: 24px;
      @apply bg-white p-1 mb-4;
    }
  }
}
</style>
