<template>
  <div
    :class="{ '-hidden': !$store.state.isImgLibShowing }"
    class="lib-wrapper pt-2 pb-2 px-3 transition-all duration-150 relative z-30"
  >
    <!-- No image -->
    <div
      class="flex justify-center items-center h-full no-image mt-8 text-white"
      v-if="!images.length"
    >
      <div class="flex items-center">
        <h5 class="mr-2">To begin</h5>
        <b-upload
          multiple
          @input="
            (fileArray) =>
              $store.dispatch('fbase/uploadFile', {
                projectId: $route.params.id,
                fileArray,
              })
          "
        >
          <span class="btn-blue py-1 px-3 text-xs rounded-sm">Add an image</span>
        </b-upload>
      </div>
    </div>
    <!-- Images -->
    <div v-else>
      <div
        class="overflow-x-scroll custom-scrollbar overflow-y-hidden images-container h-full whitespace-no-wrap pb-1"
      >
        <div class="inline-block add-image-block">
          <b-upload
            multiple
            @input="
              (fileArray) =>
                $store.dispatch('fbase/uploadFile', {
                  projectId: $route.params.id,
                  fileArray,
                })
            "
          >
            <div class="h-full items-center justify-center flex cursor-pointer">
              <PlusButton />
            </div>
          </b-upload>
        </div>
        <ImageItem
          v-for="(image, i) in images"
          :image="image.image_url"
          :isDrb="image.drb"
          :title="image.drb? image.title: null"
          :key="`image-${i}`"
        />
      </div>
    </div>
    <Modal v-if="isLoading">
      <template #header>
        <!-- <h3 class="text-gray-800">buuk</h3> -->
      </template>
      <template #body>
        <div class="flex items-center">
          <img width="20" src="/images/loading-exporting.svg" alt="loading" />
          <h3 class="text-xl text-gray-500 ml-2">Fetching your Dribbble shots...</h3>
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  props: {
    images: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    isLoading: false,
  }),
}
</script>

<style lang="scss" scoped>
.images-container {
  width: 100%;
}

.add-image-block {
  width: 96px;
  height: 96px;
  margin-right: 1rem;
  vertical-align: top;
  @apply rounded-sm bg-gray-900;
  &:hover {
    @apply bg-gray-700;
  }
}

.lib-wrapper {
  min-height: 114px;
  // height: 16vh;
  max-height: 300px;
  @apply bg-gray-900;
  &.-hidden {
    min-height: 0px;
    height: 0px !important;
    padding: 0 !important;
    opacity: 0;
    pointer-events: none;
    .no-image {
      margin: 0px !important;
    }
  }
}
.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
</style>
