<template>
  <div>
    <div class="text-center mb-8">
      <a href="/">
        <img class="mx-auto" src="/images/branding/buuk-logo.svg" alt="logo" width="90" />
      </a>
      <div class="mt-2 text-sm text-buuk-orange">Beta</div>
    </div>
    <ValidationObserver v-if="false" v-slot="{ handleSubmit }" slim>
      <form @submit.prevent.stop="handleSubmit(submit)">
        <ValidationProvider v-slot="{ errors }" slim rules="required|email">
          <div class="field">
            <label for="email">Email</label>
            <input
              v-model="email"
              id="email"
              type="text"
              placeholder="Email"
              :class="{ 'border-red-500': errors.length }"
            />
            <small v-show="errors.length">Please specify</small>
          </div>
        </ValidationProvider>
        <ValidationProvider v-slot="{ errors }" slim rules="required">
          <div class="field">
            <label for="password">Password</label>
            <input
              v-model="password"
              :class="{ 'border-red-500': errors.length }"
              id="password"
              type="password"
              placeholder="***********"
            />
            <small v-show="errors.length">Please specify</small>
          </div>
        </ValidationProvider>
        <div class="flex items-center justify-between mt-4">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >Sign In</button>
          <a
            class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
            href="#"
          >Forgot Password?</a>
        </div>
      </form>
    </ValidationObserver>
    <!-- Social Login -->
    <div class="text-center mt-2">
      <!-- <small class="text-gray-500">OR</small> -->
      <div class="mt-2">
        <button @click="fbLogin" class="social-button">
          <img
            width="9"
            class="mr-2"
            src="@/node_modules/@fortawesome/fontawesome-free/svgs/brands/facebook-f.svg"
            alt="facebook"
          />Continue with Facebook
        </button>
        <button @click="drbLogin" class="social-button mt-4">
          <img
            width="12"
            class="mr-2"
            src="@/node_modules/@fortawesome/fontawesome-free/svgs/brands/dribbble.svg"
            alt="drb"
          />Continue with Dribbble
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    email: '',
    password: '',
  }),
  methods: {
    fbLogin() {
      const url = `https://www.facebook.com/v8.0/dialog/oauth?redirect_uri=${
        window.location.origin
      }/callback&state=${this.$route.query.redirect || '/'}&client_id=${
        process.env.fb_app_id
      }&response_type=token&scope=email`
      return (window.location.href = url)
    },
    drbLogin() {
      const url = `https://dribbble.com/oauth/authorize?client_id=${
        process.env.NODE_ENV === 'development'
          ? process.env.TEST_DRB_ID
          : process.env.PROD_DRB_ID
      }&redirect_uri=${window.location.origin + '/callback'}`
      return (window.location.href = url)
    },
    async submit() {
      const res = await this.$store.dispatch('auth/login', {
        username: this.email,
        password: this.password,
      })
      if (res.success) return window.location.reload()
    },
  },
}
</script>
