<template>
  <div
    v-show="!_isOverviewView"
    v-if="displayLikes || displayComments"
    class="bg-white px-2 text-xs"
  >
    <div class="flex opacity-75">
      <div v-if="displayLikes" class="mr-2 flex">
        <img
          width="8"
          src="@/node_modules/@fortawesome/fontawesome-free/svgs/solid/heart.svg"
          alt="heart"
        />
        <span class="ml-1">{{ numLikes }}</span>
      </div>
      <div v-if="displayComments" class="flex">
        <img
          width="10"
          src="@/node_modules/@fortawesome/fontawesome-free/svgs/solid/comments.svg"
          alt="heart"
        />
        <span class="ml-1">{{ numComments }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    _isOverviewView() {
      return this.$route.query.view === 'overview'
    },
  },
  props: {
    displayLikes: {
      type: Boolean,
      default: false,
    },
    displayComments: {
      type: Boolean,
      default: false,
    },
    numLikes: {
      type: Number,
      default: false,
    },
    numComments: {
      type: Number,
      default: 24,
    },
  },
}
</script>
