<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper shadow-2xl">
        <div class="modal-container delay-1000 bg-white px-4 py-3 rounded">
          <div v-if="closable" class="flex justify-end mb-1">
            <button @click="$emit('dismiss')">
              <img
                width="16"
                src="@/node_modules/@fortawesome/fontawesome-free/svgs/solid/times.svg"
                alt="close"
                class="opacity-75"
              />
            </button>
          </div>
          <div v-if="$slots.header" class="modal-header mb-6 text-center">
            <slot name="header"></slot>
          </div>

          <div class="modal-body px-2">
            <slot name="body">default body</slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    closable: {
      type: Boolean,
      default: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 360px;
  margin: 0px auto;
  transition: all 0.3s ease;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
