<template>
  <div class="w-11/12 mx-auto">
    <div class="grid grid-cols-4 custom-gap">
      <div id="col-sizer">
        <CoverPageTemplater />
      </div>
      <div>
        <AboutPageTemplater />
      </div>
      <div
        @dblclick="$changeView('detail', i + 3)"
        v-for="(page, i) in regularPages"
        :key="`page-${i}`"
      >
        <PageTemplater :index="i" />
      </div>
    </div>
  </div>
</template>

<script>
import _map from 'lodash.map'
import _clone from 'lodash.clone'
import draggable from 'vuedraggable'
export default {
  components: {
    draggable,
  },
  data: () => ({
    regularPages: [],
    regularPageStart: 2,
  }),
  watch: {
    '$store.state.project.regularPages': {
      immediate: true,
      handler(val) {
        this.regularPages = _map(val, _clone)
      },
    },
  },
  methods: {
    onDragEnd(e) {
      console.log(e)
    },
  },
  // computed: {
  //   pageList: {
  //     get() {
  //       return this.$store.state.pages
  //     },
  //     set(value) {
  //       console.log(value)
  //       this.$store.commit('SET_PAGE_ORDER', value)
  //     },
  //   },
  // },
}
</script>

<style lang="scss" scoped>
.custom-gap {
  column-gap: 2.5%;
  row-gap: 54px;
}
</style>