<template>
  <div
    ref="page"
    @mouseover="isControlShowing = true"
    @mouseout="isControlShowing = false"
  >
    <div
      class="page-wrapper relative h-full"
      :class="{
        '-detail': _isDetailView,
        'shadow-md': !_isPrinted,
        '-printed': _isPrinted,
      }"
    >
      <!-- Printable area for regular page -->
      <div class="print-area h-full">
        <div
          :class="_gridClass"
          class="h-full dropzones-container gap-3"
          id="grid-container"
        >
          <ImageDropzone
            v-for="(item, i) in _numImages"
            :key="`image-${i}`"
            :pageIndex="index"
            :imageIndex="i"
            :image="$store.state.project.regularPages[index].images[i]"
            @inputImage="onInputImage($event, i)"
            @remove="onRemove($event, i)"
            @imageSize="onImageSizeChanged($event, i)"
          />
        </div>
      </div>
    </div>
    <!-- Page layout config -->
    <div
      :class="{ 'opacity-100': isControlShowing }"
      class="flex justify-center items-center opacity-0 transition-opacity duration-75"
    >
      <div class="inline-flex buttons">
        <button
          @click="
            $store.commit('project/SET_PAGE_LAYOUT_OPTION', {
              index,
              selectedLayout: i,
            })
          "
          v-for="(item, i) in $store.state.layoutOptions"
          :key="`option-${i}`"
          :class="{
            'bg-gray-100':
              $store.state.project.regularPages[index].selected_layout === i,
            'bg-gray-700':
              $store.state.project.regularPages[index].selected_layout !== i,
          }"
        >
          {{ item.title }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import _map from 'lodash.map'
import _clone from 'lodash.clone'
export default {
  props: {
    index: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    _isOverviewView() {
      return this.$route.query.view === 'overview'
    },
    _gridClass() {
      if (this._numImages >= 4) {
        return 'grid grid-rows-2 grid-cols-2'
      } else {
        return `grid grid-cols-${this._numImages}`
      }
    },
    _isDetailView() {
      return this.$route.query.view === 'detail'
    },
    _isPrinted() {
      return this.$route.name === 'projects-id-export'
    },
    _numImages() {
      return this.$store.state.layoutOptions[
        this.$store.state.project.regularPages[this.index]?.selected_layout || 0
      ].images
    },
  },
  data: () => ({
    isMenuShowing: false,
    isControlShowing: false,
  }),
  watch: {
    // Calc. dropzone A4 size based on width
    '$store.state.project': {
      immediate: true,
      deep: true,
      handler() {
        if (!process.client) return
        this.$nextTick(() => {
          this.adjustView()
        })
      },
    },
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.adjustView()
      })
    })
  },
  methods: {
    adjustView() {
      // console.log('setting dimension')
      const colSizer = document.getElementById('col-sizer')
      if (this._isOverviewView) {
        const page = this.$refs.page
        page.style.width = `${colSizer.offsetWidth}px`
        page.style.height = `${colSizer.offsetWidth / 1.414}px`
      }
    },
    onRemoveCoverImage() {
      this.$store.commit('SET_COVER_IMAGE', {
        imageURL: null,
      })
    },
    onImageSizeChanged(evt, i) {
      let imageArray = _map(
        this.$store.state.project.regularPages[this.index].images,
        _clone
      )
      imageArray[i].size =
        imageArray[i].size === 'contain' ? 'cover' : 'contain'
      this.$store.commit('project/SET_PAGE_LAYOUT_IMAGES', {
        index: this.index,
        imageArray,
      })
    },
    onRemove(evt, i) {
      let imageArray = _map(
        this.$store.state.project.regularPages[this.index].images,
        _clone
      )
      delete imageArray[i]
      this.$store.commit('project/SET_PAGE_LAYOUT_IMAGES', {
        index: this.index,
        imageArray,
      })
    },
    onCoverImageURL(imageURL) {
      this.$store.commit('project/SET_COVER', {
        image: imageURL,
      })
    },
    onInputImage({ imageURL, title }, i) {
      let imageArray = _map(
        this.$store.state.project.regularPages[this.index].images,
        _clone
      )
      imageArray[i] = {
        url: imageURL,
        size: 'contain',
        title: title || 'The title of your image',
        subtitle: 'Click to add detail',
      }
      this.$store.commit('project/SET_PAGE_LAYOUT_IMAGES', {
        index: this.index,
        imageArray,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
$w: 24vh;
$h: $w/0.707;
$wD: 64vh;
$hD: $wD/0.707;
$wP: 100vh;
$hP: $wP/0.707;

.page-wrapper {
  // width: $h;
  // height: $w;
  @apply bg-white;
  .print-area {
    padding: $w/26;
  }
  &.-detail {
    width: $hD;
    height: $wD;
    .print-area {
      padding: $hD/26;
    }
  }
  &.-printed {
    width: $hP;
    height: $wP;
    .print-area {
      padding: $hP/26;
    }
  }
  &:hover {
    .page-control {
      opacity: 1;
    }
  }
}

.page-control {
  transition: 0.15s;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.menu {
  top: 32px;
  right: 0;
}

.no-margin {
  margin-bottom: 0px !important;
}

.page-num {
  top: -14px;
  right: -12px;
  z-index: 1;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 1%;
}

.buttons {
  @apply mt-2;
  button {
    @apply w-6 h-6 flex items-center justify-center mx-1 text-xs rounded-sm;
    &:hover {
      @apply bg-gray-200;
    }
  }
}
</style>
