body {
  @apply bg-gray-800;
}

.social-button {
  @apply bg-white w-full shadow-sm border duration-150 py-2 px-2 rounded text-gray-700 flex items-center justify-center duration-100 text-sm;
  &:hover {
    @apply shadow-md;
  }
}

.field {
  @apply mb-2;
  label {
    @apply block text-gray-700 text-sm font-bold mb-1;
  }
  input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
    &:focus {
      @apply outline-none shadow-outline;
    }
  }
  small {
    @apply text-red-500 mt-1 text-xs;
  }
}

.callout-option {
  @apply text-gray-800 px-3 py-2 text-sm block;
  &:hover {
    @apply bg-gray-300;
  }
}

.image-skel {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
  background-image: url(/images/photo.svg);
}

.b-font-size {
  font-size: 14px !important;
}

.b-btn {
  @apply py-1 px-3 b-font-size;
}

.medium-editor-placeholder-relative:after,
.medium-editor-placeholder:after {
  font-style: normal;
}
