@import './default';
@import './variable.scss';

body {
  overflow-x: hidden;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*:focus {
  outline: none !important;
}

button {
  font-weight: 500;
}

.images-container {
  .image-item-wrapper {
    &:not(:last-child) {
      @apply mr-4;
    }
  }
}

.dropzones-container {
  .dropzone-wrapper {
    &:not(:last-child) {
      // @apply mb-4;
    }
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    height: 8px;
    width: 4px;
    @apply bg-gray-200;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
    cursor: pointer;
  }
}

._flex-3 {
  flex: 3 !important;
}

.img-inverted {
  filter: invert(1);
}

input[type='file'] {
  display: none;
}

.medium-editor-element {
  min-height: 0 !important;
}

.medium-editor-placeholder:after {
  position: relative;
}

.editable-area {
  display: inline-block;
  min-width: 10ch;
  border: 1px solid #fff;
  cursor: text;
  &.-block {
    display: block !important;
    line-height: 1.25;
  }
  &:hover {
    border: 1px theme('colors.red.500') dashed;
  }
  a {
    text-decoration: underline;
  }
}

.bio-editable {
  line-height: 1.4;
  @apply font-light;
}
