<template>
  <div class="container">
    <div class="row _jtfct-ct">
      <div class="col-12 col-sm-5">
        <h3 class="_fw-700 _tal-ct">ลืมรหัสผ่าน</h3>
      </div>
    </div>
    <div v-if="!emailSent" class="row _jtfct-ct">
      <div class="col-11 col-sm-5">
        <!--  -->

        <h5 class="_tal-ct _mgv-24px">
          กรุณากรอกที่อยู่อีเมลที่คุณใช้ในการลงทะเบียน
          <br />ระบบจะทำการส่งลิงก์เพื่อตั้งรหัสผ่านใหม่ไปให้คุณ
        </h5>
        <ValidationObserver v-slot="{ handleSubmit }">
          <form @submit.prevent.stop="handleSubmit(submit)">
            <ValidationProvider v-slot="{ errors }" slim rules="required|email">
              <float-label class="_mgbt-24px -with-icon">
                <input
                  v-model="email"
                  placeholder="อีเมล"
                  type="email"
                  name="email"
                />
                <i class="fal fa-envelope" />
                <small v-show="errors.length" class="has-text-danger">
                  <i class="fas fa-info-circle" />
                  กรุณาใส่อีเมล
                </small>
              </float-label>
            </ValidationProvider>
            <div class="_tal-ct _mgbt-32px">
              <button
                type="submit"
                class="button is-medium is-yellow is-rounded is-fullwidth"
              >
                ส่งลิงก์รีเซ็ตรหัสผ่าน
              </button>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </div>
    <div v-else class="row _jtfct-ct">
      <div class="col-11 col-sm-7">
        <div
          class="_pd-16px _dp-f-sm _dp-b _mgt-64px _mgbt-24px has-background-yellow _bdrd-16px _alit-ct _tal-ct"
        >
          <img
            v-lazy="'https://cdn.uwae.online/2020/01/cropped-logo.png'"
            alt="icon"
            class="_w-10pct-sm _w-20pct _mgr-16px"
          />
          <div>
            <span class="_pdr-8px"
              >ลิงค์ในการตั้งรหัสผ่านใหม่ถูกส่งไปที่อีเมล</span
            >
            <span class="has-text-primary">{{ email }}</span>
            <span class="_pdl-8px">แล้วนะ</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row _jtfct-ct">
      <div class="col-12 col-sm-5">
        <div class="_mgt-24px _dp-f _jtfct-spevl _w-100pct _alit-ct">
          <!--  -->
          <div>กลับไปยังหน้า</div>
          <n-link to="/auth/login">เข้าสู่ระบบ</n-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    email: '',
    emailSent: false
  }),
  head() {},
  methods: {
    async submit() {
      const res = await this.$store.dispatch('auth/resetPassword', {
        email: this.email
      })
      if (res.success) {
        return (this.emailSent = true)
      }
      return this.$buefy.toast.open(
        `Error forgot password: ${res.error_message}`
      )
    }
  }
}
</script>
