<template>
  <div class="flex items-center justify-center min-h-screen">
    <!--  -->
    <Login />
  </div>
</template>

<script>
export default {
  async asyncData ({ app, redirect }) {
    const hasAccess = !!app.$cookies.get('buuk_beta_access')
    if (!hasAccess) return redirect('/')
  }
}
</script>