<template>
  <div class="container">
    <div class="row _jtfct-ct">
      <div class="col-12 col-sm-7">
        <h3 class="_fw-700 _tal-ct _mgbt-48px">
          <span v-if="_isNew">กรอกข้อมูลเพื่อเป็นสมาชิกกับอุแว้</span>
          <span v-else>ตั้งรหัสผ่าน</span>
        </h3>
        <ValidationObserver v-slot="{ handleSubmit }" slim>
          <form class="row _jtfct-ct" @submit.stop.prevent="handleSubmit(submit)">
            <div class="col-12 col-sm-7">
              <!--  -->
              <ValidationProvider
                v-slot="{ errors }"
                :rules="{
                  required: true
                }"
                slim
                name="firstName"
              >
                <float-label class="_mgbt-24px -with-icon">
                  <input v-model="firstName" name="firstName" class="_bgcl-tpr" placeholder="ชื่อ" />
                  <i class="fal fa-user" />
                  <small v-show="errors.length" class="has-text-danger">
                    <i class="fas fa-info-circle" />
                    กรุณาใส่ชื่อจริง
                  </small>
                </float-label>
              </ValidationProvider>
            </div>
            <div class="col-12 col-sm-7">
              <!--  -->
              <ValidationProvider
                v-slot="{ errors }"
                :rules="{
                  required: true
                }"
                slim
                name="lastName"
              >
                <float-label class="_mgbt-24px -with-icon">
                  <input v-model="lastName" name="lastName" class="_bgcl-tpr" placeholder="นามสกุล" />
                  <i class="fal fa-user" />
                  <small v-show="errors.length" class="has-text-danger">
                    <i class="fas fa-info-circle" />
                    กรุณาใส่ชื่อนามสกุล
                  </small>
                </float-label>
              </ValidationProvider>
            </div>
            <div class="col-12 col-sm-7">
              <ValidationProvider
                v-slot="{ errors }"
                :rules="{
                  required: true,
                  regex: $store.state.auth.passwordRegex
                }"
                slim
                name="originalPassword"
              >
                <float-label class="_mgbt-24px -with-icon">
                  <input
                    ref="newPassword"
                    v-model="newPassword"
                    :type="psToggle1 ? 'text' : 'password'"
                    name="newPassword"
                    class="_bgcl-tpr"
                    placeholder="รหัสผ่าน"
                  />
                  <i class="fal fa-lock" />
                  <i
                    :class="{ fas: psToggle1 }"
                    class="_cs-pt fal fa-eye -right-icon"
                    @click="psToggle1 = !psToggle1"
                  />
                  <small v-show="errors.length" class="has-text-danger">
                    <i class="fas fa-info-circle" />
                    กรุณาใส่รหัสซึ่งประกอบด้วยตัวอักษรและตัวเลข ความยาว 8-16 ตัว
                  </small>
                </float-label>
              </ValidationProvider>
            </div>
            <div class="col-12 col-sm-7">
              <ValidationProvider
                v-slot="{ errors }"
                :rules="{
                  required: true,
                  password: '@originalPassword'
                }"
              >
                <float-label class="_mgbt-24px -with-icon">
                  <input
                    v-model="confirmNewPassword"
                    :type="psToggle2 ? 'text' : 'password'"
                    name="confirmNewPassword"
                    class="_bgcl-tpr"
                    type="password"
                    placeholder="ยืนยันรหัสผ่าน"
                  />
                  <i class="fas fa-lock" />
                  <i
                    :class="{ fas: psToggle2 }"
                    class="_cs-pt fal fa-eye -right-icon"
                    @click="psToggle2 = !psToggle2"
                  />
                  <small v-show="errors.length" class="has-text-danger">
                    <i class="fal fa-info-circle" /> รหัสผ่านไม่ตรงกัน
                  </small>
                </float-label>
              </ValidationProvider>
            </div>
            <div class="_tal-ct col-12 _mgbt-24px">
              <b-message v-if="errorMsg" type="is-danger">
                <div v-html="errorMsg" />
              </b-message>
              <button type="submit" class="button is-rounded is-medium is-yellow _fw-600">
                <span v-if="_isNew">ยืนยันข้อมูล</span>
                <span v-else>ตั้งรหัสผ่านใหม่</span>
                และล็อกอินเลย
              </button>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    firstName: null,
    lastName: null,
    newPassword: null,
    confirmNewPassword: null,
    successMsg: '',
    errorMsg: '',
    psToggle1: false,
    psToggle2: false
  }),
  computed: {
    _isNew() {
      return this.$route.query.new === '1'
    }
  },
  async middleware({ store, redirect, app, query }) {
    await store.dispatch('auth/revokeToken')
    if (!(query && query.key && query.login) || app.$isLoggedIn())
      return redirect('/')
  },
  head() {
    return this.$generateHead({
      _route: this.$route,
      meta_title: 'กรอกข้อมูลเพื่อเป็นสมาชิกกับอุแว้'
    })
  },
  methods: {
    async submit() {
      this.errorMsg = ''
      this.successMsg = ''
      // if
      await this.resetPassword().catch(
        (err) => (this.errorMsg = err.response.data.message)
      )
      return
    },
    async resetPassword() {
      const res = await this.$store.dispatch('auth/setForgotPassword', {
        key: this.$route.query.key,
        login: this.$route.query.login,
        password: this.newPassword,
        fields: [
          {
            key: 'first_name',
            value: this.firstName
          },
          {
            key: 'last_name',
            value: this.lastName
          }
        ]
      })
      if (!res) {
        return (this.errorMsg = 'Error. Please try again.')
      }
      this.$buefy.toast.open('Password set. Logging you in...')
      // @ts-ignore
      return await this.$login(this.$route.query.login, this.newPassword)
    }
  }
}
</script>
