<template>
  <section>
    <div id="grid-container" v-if="_coverPage">
      <!--  -->
      <CoverPageTemplater />
    </div>
    <div v-if="_aboutPage">
      <!--  -->
      <AboutPageTemplater />
    </div>
    <div v-if="_regularPageIndex">
      <!-- Regular -->
      <PageTemplater :index="_regularPageIndex - 1" />
    </div>
  </section>
</template>

<script>
export default {
  layout: 'print',
  // validate({ query }) {
  //   return query.code === 'ko0ji9hu8'
  // },
  head: {
    bodyAttrs: {
      class: 'A4 landscape overflow-auto bg-white',
    },
  },
  async asyncData({ params, store, redirect, query }) {
    const { id } = params
    const projectRes = await store.dispatch('wp/listCPT', {
      type: 'project',
      slug: id,
      code: 'ko0ji9hu8',
    })
    const project = projectRes.posts[0]
    store.commit('project/SET_PROJECT', project)
    return {
      project,
    }
  },
  computed: {
    _regularPageIndex() {
      return +this.$route.query?.regularIndex
    },
    _coverPage() {
      return this.$route.query?.coverPage
    },
    _aboutPage() {
      return this.$route.query?.aboutPage
    },
  },
}
</script>

<style scoped>
@page {
  size: A4 landscape;
}
</style>
