<template>
  <div class="flex flex-col h-full">
    <div class="lo-wrapper">
      <OverviewView id="panner" v-if="_viewMode === 'overview'" />
      <DetailView id="panner" v-else-if="_viewMode === 'detail'" />
    </div>
    <BottomBar :images="images" />
  </div>
</template>

<script>
export default {
  layout: 'detail',
  computed: {
    _viewMode() {
      return this.$route.query.view
    },
  },
  async asyncData({ params, store, redirect }) {
    const { id } = params
    const projectRes = await store.dispatch('wp/listCPT', {
      type: 'project',
      slug: id,
    })
    if (!projectRes.totalPosts) return redirect('/')
    const mediaRes = await store.dispatch('wp/listCPT', {
      type: 'media',
      metaQuery: [['projects', projectRes.posts[0]._id, '=']],
    })
    let images = [...mediaRes.posts]
    if (store.state.auth.user?.drb_token) {
      const drbImages = await store.dispatch('drb/getShots', {
        token: store.state.auth.user.drb_token,
      })
      images = [
        ...drbImages.map((x) => {
          return {
            image_url: x.images?.hidpi,
            drb: true,
            ...x
          }
        }),
        ...images,
      ]
    }
    const project = projectRes.posts[0]
    store.commit('project/SET_PROJECT', project)
    return {
      project,
      images,
    }
  },
  head: {
    htmlAttrs: {
      class: 'overflow-hidden',
    },
    script: [
      {
        src:
          'https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js',
        body: true,
      },
    ],
  },
  watch: {
    '$route.query.view': {
      immediate: true,
      handler(val) {
        if (!val)
          return this.$router.push({
            ...this.$route,
            query: { ...this.$route.query, view: 'overview' },
          })
        this.initView(val)
      },
    },
    '$store.state.fbase.uploadedTs': {
      async handler() {
        const mediaRes = await this.$store.dispatch('wp/listCPT', {
          type: 'media',
          metaQuery: [['projects', this.project._id, '=']],
        })
        this.images = [this.images.filter((x) => x.drb), ...mediaRes.posts]
      },
    },
  },
  methods: {
    initView(mode = 'overview') {
      this.$router.push({
        ...this.$route,
        query: { ...this.$route.query, view: mode },
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.lo-wrapper {
  @apply flex-auto flex justify-center items-center;
}
</style>
