<template>
  <div>
    <!--  -->
    {{ project }}
    <div class="preview-page-wrapper">
      <div class="__inner">
        <CoverPageTemplater>
          <div class="flex flex-col justify-between h-full dropzones-container">
            <ImageDropzone
              class="no-margin _flex-3"
              :hasMetadataBox="false"
              :key="`image-cover`"
              :image="{
                url: project.cover_page && project.cover_page.image_url,
              }"
            />
          </div>
        </CoverPageTemplater>
      </div>
      <small class="mt-2">Page 1</small>
    </div>
    <!--  -->
    <div class="preview-page-wrapper">
      <div class="__inner">
        <CoverPageTemplater>
          <AboutPageTemplater :_bio="'x'" />
        </CoverPageTemplater>
      </div>
      <small class="mt-2">Page 2</small>
    </div>
    <!-- Pages -->
    <div v-for="(page, i) in 6" :key="`page-${i}`" class="preview-page-wrapper">
      <div class="__inner">
        <div class="flex flex-col justify-between h-full dropzones-container">
          <ImageDropzone
            class="no-margin _flex-3"
            :hasMetadataBox="false"
            :key="`image-cover`"
            :image="{ url: project.cover_page && project.cover_page.image_url }"
          />
        </div>
      </div>
      <small class="mt-2">Page {{ i + 3 }}</small>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'print',
  async asyncData({ store, query }) {
    const projectRes = await store.dispatch('wp/listCPT', {
      type: 'project',
      slug: query.slug,
    })
    const project = projectRes.posts[0]
    return {
      project,
    }
  },
}
</script>

<style lang="scss" scoped>
.preview-page-wrapper {
  @apply w-5/6 max-w-4xl mx-auto my-16;
  &__inner {
    @apply h-full shadow p-2 border bg-white;
  }
}
</style>
