<template>
  <div class="flex justify-center items-center text-lg h-screen">
    <!--  -->
    <div>
      <span v-if="isLoading" class="text-buuk-orange">Connecting your account...</span>
      <span class="text-gray-500" v-if="redirecting">Now redirecting to your project...</span>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'blank',
  data: () => ({
    isLoading: true,
    redirecting: false,
  }),
  watch: {
    '$route.hash': {
      immediate: true,
      async handler(value) {
        if (!value) return
        const tokenStr = '#access_token='
        const token = value.substring(
          value.indexOf(tokenStr) + tokenStr.length,
          value.indexOf('&')
        )
        const fp = decodeURI(this.$route.fullPath)
        const redirect =
          fp.substring(fp.indexOf('state=') + 6, fp.length) || '/'
        await this.$registerLoginSocial({
          token,
          redirect: decodeURIComponent(redirect)
        })
      }
    },
    '$route.query.code': {
      immediate: true,
      async handler(code) {
        if (!code || !process.client) return
        const { data } = await this.$store.dispatch('drb/getToken', {
          code,
          baseURL: window.location.origin,
        })
        this.isLoading = false
        this.redirecting = true
        // Save token
        const token = data.access_token
        await this.$registerLoginSocial({
          token,
          channel: 'dribbble'
        })
      },
    },
  },
}
</script>
