<template>
  <div>
    <!-- <button class="bg-blue-500 p-4 text-white" @click="isOpen = true">Login</button> -->
    <nuxt />
    <!-- Login -->
    <Modal v-if="isOpen" :closable="true" @dismiss="isOpen = false">
      <!--  -->
      <template #header>
        <div class="inline-block shadow-md rounded-full">
          <div
            class="inline-flex rounded-full shadow-inner border-1 border-gray-300 bg-gray-200 leading-none text-base"
          >
            <button
              @click="modalType = 'login'"
              :class="{'bg-white text-blue-400': modalType === 'login', 'text-gray-500': modalType !== 'login'}"
              class="inline-flex items-center duration-150 px-5 py-3 rounded-full transition-colors ease-in focus:outline-none focus:text-blue-400 hover:text-blue-400"
            >
              <span class="font-bold">Login</span>
            </button>
            <button
              @click="modalType = 'register'"
              :class="{'bg-white text-blue-400': modalType === 'register', 'text-gray-500': modalType !== 'register'}"
              class="inline-flex items-center duration-150 px-5 py-3 rounded-full transition-colors ease-in focus:outline-none focus:text-blue-400 hover:text-blue-400"
            >
              <span class="font-bold">Register</span>
            </button>
          </div>
        </div>
      </template>
      <!--  -->
      <template #body>
        <Login />
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  data: () => ({
    isOpen: false,
    modalType: 'login'
  }),
}
</script>
