<template>
  <div class="bg-gray-800 flex flex-col detail-container">
    <client-only>
      <div class="py-2 px-2 flex justify-between items-center">
        <div class="flex-1">
          <n-link :to="`/projects`" class="btn text-xs flex py-1 px-2 items-center text-white">
            <img
              width="8"
              class="img-inverted"
              src="@/node_modules/@fortawesome/fontawesome-free/svgs/solid/chevron-left.svg"
              alt="back"
            />
            <span class="ml-2 text-sm">Projects</span>
          </n-link>
        </div>
        <div class="flex-1">
          <div class="justify-center text-white flex">
            <div class="relative px-8">
              <span class="font-bold">{{ $store.state.project.title }}</span>
            </div>
            <!-- <img
              width="8"
              class="img-inverted ml-2"
              src="@/node_modules/@fortawesome/fontawesome-free/svgs/solid/caret-down.svg"
              alt="back"
            />-->
          </div>
        </div>
        <!--  -->
        <div class="flex-1 inline-flex justify-end items-center">
          <div class="px-3 b-font-size">
            <span class="text-white" v-if="isSaving">Saving...</span>
            <span class="text-gray-600" v-else>Saved</span>
          </div>
          <ExportButton />
          <!-- <button
            @click="$store.dispatch('auth/logout')"
            class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-1 px-3 text-sm rounded"
          >Logout</button>-->
        </div>
      </div>
    </client-only>
    <!--  -->
    <main class="flex-1">
      <nuxt />
    </main>
  </div>
</template>

<script>
export default {
  name: 'layout-detail',
  data: () => ({
    isSaving: false,
  }),
  mounted () {
    this.$nextTick(() => {
      let vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`)
      // We listen to the resize event
      window.addEventListener('resize', () => {
        // We execute the same script as before
        let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty('--vh', `${vh}px`)
      })
    })
  },
  watch: {
    '$store.state.project': {
      deep: true,
      async handler() {
        if (!process.client) return
        // Saving
        this.isSaving = true
        const slug = this.$route.params.id
        const res = await this.$store.dispatch('project/update', { slug })
        this.isSaving = false
      },
    },
  },
}
</script>

<style lang="scss" scoped>
.detail-container {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}
.call-out {
  top: 0rem;
  right: 0rem;
}
</style>
