<template>
  <div class="bg-gray-800 min-h-screen">
    <header>
      <client-only>
        <div class="py-2 px-2 flex justify-between items-center">
          <div class="flex-1"></div>
          <div class="flex-1">
            <a href="/">
              <img
                class="mx-auto logo"
                src="/images/branding/buuk-logo.svg"
                alt="logo"
                width="90"
              />
            </a>
          </div>
          <!--  -->
          <div class="flex-1 inline-flex justify-end">
            <img
              class="rounded-full w-8 h-8 mr-2 border-2 border-white"
              :src="$store.state.auth.user._image"
              alt="avatar"
            />
            <button
              @click="$store.dispatch('auth/logout')"
              class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-1 px-3 text-xs rounded"
            >
              Logout
            </button>
          </div>
        </div>
      </client-only>
    </header>
    <main>
      <nuxt />
    </main>
  </div>
</template>

<style lang="scss" scoped>
.logo {
  filter: brightness(1);
}
</style>
