<template>
  <div class="flex items-center justify-center min-h-screen">
    <!--  -->
    <!-- <button class="gordon-btn">some button</button> -->
    <div class="bg-white px-8 py-6 rounded-sm max-w-sm">
      <div v-if="!isEmailFormShowing">
        <h1 class="text-2xl font-bold text-gray-700">Prove you buuked!</h1>
        <div class="mt-4">
          <!--  -->
          <client-only>
            <ValidationObserver v-slot="{ handleSubmit }" slim>
              <form @submit.prevent.stop="handleSubmit(submit)">
                <ValidationProvider v-slot="{ errors }" slim rules="is:make-a-buuk">
                  <div class="field">
                    <label for="code">Enter secret passcode:</label>
                    <input
                      v-model="code"
                      id="code"
                      type="password"
                      placeholder="Passcode"
                      :class="{ 'border-red-500': errors.length }"
                    />
                    <small v-show="errors.length">Please specify</small>
                  </div>
                </ValidationProvider>
                <button v-show="code.length >= 4" type="submit">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    class="w-10 h-10"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1"
                      d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </button>
              </form>
            </ValidationObserver>
          </client-only>
        </div>
        <!--  -->
        <div class="mt-4 text-xs text-center">
          <span>Don't have a code?</span>
          <button
            @click="isEmailFormShowing = true"
            class="border-b border-buuk-orange text-buuk-orange"
            to="/signup"
          >Request one</button>
        </div>
      </div>
      <div v-else>
        <BetaSignup />
        <!-- Back -->
        <div class="mt-4 text-xs">
          <button
            @click="isEmailFormShowing = false"
            class="border-b border-buuk-orange text-buuk-orange"
          >
            <span>Back</span>
          </button>
        </div>
      </div>
      <!-- TODO: add email address form here -->
      <!-- TODO: Walkthrough manual -->
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    code: '',
    isEmailFormShowing: false
  }),
  async asyncData({ redirect, app }) {
    // make-a-buuk
    // return redirect('/projects')
    const hasAccessCode = app.$cookies.get('buuk_beta_access')
    if (hasAccessCode) return redirect('/auth')
  },
  methods: {
    submit () {
      if (this.code === 'make-a-buuk') {
        this.$cookies.set('buuk_beta_access', {
          ts: new Date().getTime()
        }, {
          maxAge: 60 * 60 * 24 * 36,
          path: '/'
        })
        return window.location.href = '/auth'
      }
    }
  }
}
</script>
