<template>
  <div class="min-h-screen bg-gray-800 flex">
    <div class="lg:w-4/12 flex items-center">
      <div>
        <div>
          <img
            class="mx-auto logo"
            src="/images/branding/buuk-logo.svg"
            alt="logo"
          />
        </div>
        <!--  -->
        <div>
          <!--  -->
          <div class="my-24 text-center mx-auto">
            <h1 class="text-white lg:text-2xl text-xl">
              Help your creative work work harder
            </h1>
            <p class="text-white lg:text-xl text-lg px-12 font-light">
              Buuk makes it easy to turn your creative work into a professionally
              designed PDF that you can print or share.
            </p>
          </div>
          <!--  -->
          <div v-if="!submitted" class="mt-5 max-w-lg mx-auto">
            <p class="text-white font-bold text-center lg:text-2xl text-xl">
              Sign up for the Beta
            </p>
            <client-only>
              <ValidationObserver v-slot="{ handleSubmit }" slim>
                <form
                  class="max-w-xs mx-auto"
                  @submit.prevent.stop="handleSubmit(submit)"
                >
                  <ValidationProvider
                    v-slot="{ errors }"
                    slim
                    rules="required|email"
                  >
                    <div class="my-4">
                      <input
                        v-model="email"
                        class="input-signup shadow appearance-none border w-full py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="email"
                        type="text"
                        placeholder="Email"
                        :class="{
                          'border-bottom-red-500 bg-red-100': errors.length,
                        }"
                      />
                      <div
                        v-show="errors.length"
                        class="text-red-500 mt-1 text-xs"
                      >
                        Please specify
                      </div>
                    </div>
                  </ValidationProvider>
                  <ValidationProvider v-slot="{ errors }" slim rules="required">
                    <div class="mb-4">
                      <input
                        v-model="name"
                        class="input-signup shadow appearance-none border w-full py-2 leading-tight focus:outline-none focus:shadow-outline"
                        id="name"
                        type="text"
                        placeholder="Name"
                        :class="{
                          'border-bottom-red-500 bg-red-100': errors.length,
                        }"
                      />
                      <div
                        v-show="errors.length"
                        class="text-red-500 mt-1 text-xs"
                      >
                        Please specify
                      </div>
                    </div>
                  </ValidationProvider>
                  <div class="flex items-center justify-between mt-4">
                    <button
                      class="bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
                      type="submit"
                      :class="{ 'cursor-not-allowed bg-red-300': isLoading }"
                    >
                      <span v-if="!isLoading">Send</span>
                      <span v-else>Sending...</span>
                    </button>
                  </div>
                </form>
              </ValidationObserver>
            </client-only>
          </div>
          <div class="text-white mt-8 text-center mx-auto px-12" v-else>
            <span class="font-bold">All done!</span>
            <br />
            <br />Thanks for signing up. <br />As soon as we are ready to share
            we will send you an email.
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      style="background-image: url(/images/buuk_cover.jpg);"
      class="lg:w-8/12 bg-cover bg-center"
    >
      <!--  -->
    </div>
  </div>
</template>

<script>
export default {
  layout: 'blank',
  data: () => ({
    email: '',
    name: '',
    submitted: false,
    isLoading: false,
  }),
  methods: {
    async submit() {
      this.isLoading = true
      const res = await this.$store.dispatch('wp/submitForm', {
        email: this.email,
        name: this.name,
      })
      this.isLoading = false
      this.submitted = true
    },
  },
}
</script>

<style lang="scss" scoped>
.logo {
  width: 100px;
  filter: brightness(200%);
}

.signup {
  margin: 150px auto;
}

.signup-para {
  margin-bottom: 70px;
  max-width: 800px;
}

.signup-para p {
  font-weight: 200;
}

.input-signup {
  background-color: #2d3748;
  font-size: 20px;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #96a4ae;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0 1000px #2d3748 inset !important;
}

button {
  margin-top: 20px;
}

button:hover {
  background: #e46864;
}
</style>
